.pdp-product__buttons { /* stylelint-disable-line selector-class-pattern */
  display: flex;
}

.pdp-product__buttons > .dropin-button--primary { /* stylelint-disable-line selector-class-pattern */
  flex-grow: 1;
}

.dropin-design .pdp-product__title{ /* stylelint-disable-line selector-class-pattern */
  font-family: 'Times New Roman', Times, serif;
  color:brown;
}

.dropin-design .pdp-price-range .dropin-price{
  text-decoration: line-through;
}